.block_graphs {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  padding: 19px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  align-items: center;
}
.timeline {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  min-width: 1200px;
  width: 100%;
}
.timeline svg {
  min-height: 100%;
}
.current_line {
  position: absolute;
  top: 0px;
  border-left: 2px solid rgba(127, 0, 143, 0.56);
  z-index: 2;
}
