.card_of_list {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
}
.card_of_list::-webkit-scrollbar {
  width: 0;
}
.no_plan {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
