.user_profile {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_profile .css-46bh2p-MuiCardContent-root {
  color: #5b5b5b;
}
.user_profile .MuiButton-text {
  color: #8e271f;
  background-color: #ff611a;
}
