.wrapper_content .inputs {
  padding: 0;
}
.css-46bh2p-MuiCardContent-root {
  box-sizing: border-box;
  border-radius: 20px;
  color: black;
}
.wrapper_plans .css-1pqfe11-MuiPaper-root-MuiCard-root {
  border: #ff611a solid 2px;
  color: black;
}
