header {
  box-sizing: border-box;
  padding: 30px 40px 10px 40px;
}

header .logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}
header .logo:hover {
  cursor: pointer;
}
