.App {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
body {
  padding: 17px;
  overflow-x: hidden;
  min-height: 500px;
}

header {
  width: 100%;
}
main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App a {
  color: #8e271f;
  text-decoration: none;
}
.App .MuiButton-root {
  color: #8e271f;
  background-color: #ff611a;
}
.App .MuiButton-root:hover {
  background-color: #d00101;
  color: white;
}
.App .MuiButton-root:focus {
  background-color: #d00101;
  color: white;
  border: #d00101 2px solid;
}

.App .css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #ff611a;
  color: white;
}
.App label.Mui-focused {
  color: #ff611a;
}
.App .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px solid #ff611a;
}
.App .MuiButton-root:hover {
  background-color: #91401b;
}
.App .MuiInput-root:after {
  border-bottom: 1px solid #ff611a;
}
.App .MuiOutlinedInput-root {
  border-radius: 20px;
}
.around .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border: 2px solid black;
}
