.day_element{
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.selected{
    background-color: aqua;
}
.day_element .day_of_week{
    font-weight: bold;

}
.day_element .day_of{
    color: #a83411;
}