.wrapper_plans {
  width: 100%;
  min-height: calc(100vh - 76.5px);
  box-sizing: border-box;
}

.wrapper_plans_content {
  width: 100%;
  min-height: calc(100vh - 264.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_plans .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root {
  background-color: white;
}
.wrapper_plans
  .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: red;
}
